language: en

pipeline:
- name: WhitespaceTokenizer
- name: CountVectorsFeaturizer
- name: DIETClassifier

policies:
- name: MemoizationPolicy
- name: RulePolicy
- name: TEDPolicy
assistant_id: 20251031-012211-soluble-basin
